<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- google icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>



    <title>검색 페이지</title>

    <style>
      .box {
        width : 150px;
        height : 150px;
        border-radius : 70%;
        overflow : hidden;
      }
      .profile {
        width : 100%;
        height : 100%;
        object-fit : cover;
      }
      .feedbox {
        width : 480px;
        margin : 10px;
        min-height : auto;
        background-color : white
      }
      
      .modal_overlay{
        width : 100%;
        height : 100%;
        position : absolute;
        left : 0;
        top : 0;
        display : none;
        flex-direction : column;
        align-items : center;
        justify-content : center;
        background : rgba(0,0,0,0.8);
        backdrop-filter : blur(1.5px);
        -webkit-backdrop-fillter : blur(1.5px);
      }

      .modal_window{
        background : white;
        backdrop-filter : blur(13.5px);
        -webkit-backdrop-fillter: blur(13.5px);
        border-radius: 10px;
        border : 1px solid rgba(255,255,255,0.18);
        width : 800px;
        height : 600px;
        position : relative;
        padding : 10px;
      }


    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style = "position: fixed ; width :100%; z-index : 5">
        <div class="container-fluid" style = "justify-content: space-between; flex-wrap: nowrap ; min-width : 1000px">
          <a class="navbar-brand" href="/main">copy instagram</a>
            <form method="get" action="{% url 'search' %}">
              <div style="display: flex;">
                <button onclick="window.history.back()" style="border : none; align-items : center; padding-right : 10px" class="material-icons">arrow_back</button>
                <input type="text" name="q" class="form-control me-2" id = "search" style="width:400px" type="search" placeholder="검색" aria-label="Search">
                <button type = "submit" class = "btn-outline" >검색</button>
              </div>
            </form>
              <div style="display: flex;">
                <a href = "/main" class="material-symbols-outlined" style="padding-right : 10px; color : black; text-decoration : none">home</a>
                <span class="material-symbols-outlined" style="padding-right : 10px;">send</span>
                <span id = "nav_bar_add_box" class="material-symbols-outlined" style="padding-right : 10px;">add_box</span>
                <span class="material-symbols-outlined" style="padding-right : 10px;">explore</span>
                <span class="material-symbols-outlined" style="padding-right : 10px;">favorite</span>
                <div class="dropdown">
                  <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class = "box" style = "width : 25px; height : 25px; ">
                      <img class = "profile" src = "{% get_media_prefix %}{{ user.profile_image }}">
                    </div>
                  </a>
                  <ul class="dropdown-menu" style="left: -158px;">
                    <li><a class="dropdown-item" href="{% url 'profile' id=user.id %}">프로필</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </nav>
        <div style= "display : flex; flex-direction : row; text-align : center ; justify-content : center; padding-top : 60px; ">
          <div style="width : 500px; min-width : 500px; height : 1000px; margin-right : 300px">
            {%for result in results %} 
              <div class = "feedbox" style = "background-color : white; padding-top : 20px; "> 
                <div style= "display : flex; flex-direction : row; align-items : center; justify-content :space-between;">
                  <div class = "box" style = "width : 90px; height : 90px; margin-left :10px ">
                    <a href = "{% url 'profile' id=result.id %}">
                      <img class = "profile" src = "{%get_media_prefix%}{{result.profile_image}}">
                    </a>
                  </div>
                  <div style="position : absolute; margin-left : 140px; text-align :left">
                      <div style="font-weight :bold; font-size : 20px">{{result.nickname}}</div>
                      <div style="color :gray; font-size : 16px">{{result.name}}</div>
                  </div>
                </div>
              </div>
            {%endfor%}
      
      <!-- <form method="get" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
      </form>

      <h2>Search Results for "{{ query }}"</h2>

      {% if results %}
          <ul>
              {% for result in results %}
                  <li>{{ result.name }}</li>
              {% endfor %}
          </ul>
      {% else %}
          <p>No results found.</p>
      {% endif %} -->


      <!-- 첫 번째 모달 창 -->
      <div id = "first_modal" class = "modal_overlay">
        <div class = "modal_window">
          <div style = "display : flex; flex-direction : row; justify-content : space-between">
            <div style = "width : 40px">
              
            </div>
            <div>
              새 이미지 업로드
            </div>
            <div style = "width : 40px">
              <span class="modal-close material-symbols-outlined">close</span>
            </div>
          </div>
          <div class = "img_upload_space" style= "border-top : solid 1px gray; width : 780px; height : 500px;">
          </div>
        </div>
      </div>


      <!-- 두 번째 모달 창  -->
      <div id = "second_modal" class = "modal_overlay">
        <div class = "modal_window">
          <div style = "display : flex; flex-direction : row; justify-content : space-between">
            <div style = "width : 40px">
              
            </div>
            <div>
              새 이미지 업로드
            </div>
            <div style = "width : 40px">
              <span class="modal-close material-symbols-outlined">close</span>
            </div>
          </div>
          <div style = "display : flex; flex-direction : row">
            <div class = "img_upload_space" style= "border-top : solid 1px gray; width : 500px; height : 500px;">
            </div>
            <div style = "border-left : solid 1px gray;">
              <div>
                <textarea id = "input_feed_content" style = "width : 276px; height : 400px" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>
              <button id = "feed_create_button" type="botton" class="btn btn-primary" style="width : 100%">
                공유하기
              </button>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script>
      $('#search').fun
      
      $('#button_feed_list').click(function(){
        $('#feed_list').css({
          display : 'flex'
        });
        $('#like_feed_list').css({
          display : 'none'
        });
        $('#bookmark_feed_list').css({
          display : 'none'
        });
      });
    
      $('#button_feed_like_list').click(function(){
        $('#feed_list').css({
          display : 'none'
        });
        $('#like_feed_list').css({
          display : 'flex'
        });
        $('#bookmark_feed_list').css({
          display : 'none'
        });
      });

      $('#button_feed_bookmark_list').click(function(){
        $('#feed_list').css({
          display : 'none'
        });
        $('#like_feed_list').css({
          display : 'none'
        });
        $('#bookmark_feed_list').css({
          display : 'flex'
        });
      });


      $('.modal-close').click(function(){
        $('#first_modal').css({
          display : 'none'
        });

        $('#second_modal').css({
          display : 'none'
        });
      });

        let files;
  
        $('#nav_bar_add_box').click(function(){
          $('#first_modal').css({
            display : 'flex'
          });
          $(document.body).css({
            overflow : 'hidden'
          })
        });
  
        $('#feed_create_button').click(function(){
          alert("공유하기 누름");
          
          let file = files[0];
          let image = files[0].name;
          let content = $('#input_feed_content').val();
          
          let fd = new FormData();
  
          fd.append('file', file);
          fd.append('image', image);
          fd.append('content', content);
            
  
          $.ajax({
            url : "/user/profile/upload",
            data : fd,
            method : "POST",
            processData : false,
            contentType : false,
  
            success : function (data){
              console.log("성공");
            },
            error : function (request, status, error){
              console.log("에러");
            },
            complete : function(){
              console.log("완료");
              location.replace('/content/profile');
            }
  
          });
            
        });
        
        $('.img_upload_space')
          .on("dragover", dragOver)
          .on("dragleave", dragOver)
          .on("drop", uploadFiles);
  
        function dragOver(e) {
          e.stopPropagation();
          e.preventDefault();
  
          console.log(e);
  
          if (e.type == "dragover"){
            $(e.target).css({
              "background-color" : "black",
              "outline-offset" : "-20px"
            });
          } else {
            $(e.target).css({
              "background-color" : "gray",
              "outline-offset" : "-10px"
            });
          }
        }
  
        function uploadFiles(e) {
          e.stopPropagation();
          e.preventDefault();
  
          e.dataTransfer = e.originalEvent.dataTransfer;
          files = e.target.files || e.dataTransfer.files;
          if(files.length > 1) {
            alert('하나만 올리세요.');
            return;
          }
  
        if(files[0].type.match(/image.*/)) {
          $('#first_modal').css({
            display : 'none'
          });
  
          $('#second_modal').css({
            display : 'flex'
          });
  
  
          $('.img_upload_space').css({
            "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
            "outline" : "none",
            "background-size" : "100%",
            "background-repeat" : "no-repeat",
            "background-center" : "center"
          });
        } else {
          alert('이미지가 아닙니다.');
          return;
        }
      }
    
      $('#button_profile_upload').click(function(){
        $('#input_fileupload').click();
      });

      function profile_upload(){
          let file = $('#input_fileupload')[0].files[0];

          let email = "{{ user.email }}";

          console.log(file);

          let fd = new FormData();
  
          fd.append('file', file);
          fd.append('email', email);
  
  
          $.ajax({
            url : "/user/profile/upload",
            data : fd,
            method : "POST",
            processData : false,
            contentType : false,
  
            success : function (data){
              console.log("성공");
            },
            error : function (request, status, error){
              console.log("에러");
            },
            complete : function(){
              console.log("완료");
              location.replace('/content/profile');
            }
  
          });
      }
        
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>